## .NET / C#
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
.vs/
.idea/
.vscode/
*.DotSettings.user
TestResults/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.version

## Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## OS / Misc
.DS_Store
Thumbs.db
